<html xmlns:th="http://www.thymeleaf.org">
<div id="plans">

    <h2 style="text-align: center; color: #5a5a5a">Witamy w systemie planowania zajęć AGH!</h2>
    <!-- <p id="cont" style="color: red">W dniu 26.09.2019r. do odwołania dostęp do serwerów UniTime jest ograniczony. Tylko z sieci AGH oraz <a href="http://panel.agh.edu.pl/docs/openvpn/" target="_blank">poprzez VPN</a> istnieje możliwość sprawdzenia harmonogramów. W przypadku pytań proszę <a href="https://pomoc-it.agh.edu.pl" target="_blank">kontaktować się z Pomocą IT</a> dla pracowników AGH.</p> -->
    <p id="cont" style="color: red"><b>Szanowni Państwo Studenci pierwszego roku!</b><br>
        Aby zalogować się do systemu UniTime wymagane jest założenie konta e-mail w domenie agh.edu.pl (<i>identycznie
            jak w przypadku USOSa</i>). Jeśli do tej pory Państwo tego nie zrobiliście, to proszę zgłosić się do
        pokoju 505 (V piętro) w pawilonie C-1.</p>

    <p id="cont" style="color: #5a5a5a">DLA PRACOWNIKA:</p>

    <p id="cont">Aby sprawdzić swój plan zajęć,
        proszę kliknąc w zakładkę 'Pracownicy AGH' oraz wybrać semestr.
        Instrukcję, jak sprawdzić i pobrać swój harmonogram, bądź listę
        studentów zapisanych na prowadzone przez Państwa zajęcia - proszę
        kliknąć w zakładkę Tutoriale -&gt; Dla pracowników.</p>

    <p id="cont">Wskazówki dot. importu terminów zajęć do elektronicznych kalendarzy znajdują się w zakładce <a
            th:href="@{/public/ical}" href="http://sprawdz.plan.agh.edu.pl/ical.html" target="_self">Tutoriale - &gt;
        iCalendar</a>.</p>

    <p id="cont">Rezerwacje sal - w zakładce link do rezerwacji sal. Wskazówki dot. zakładania rezerwacji znajdują
        się z zakładkach <a th:href="@{/public/staff_rez}" href="http://sprawdz.plan.agh.edu.pl/staff_rez.html"
                            target="_self">Tutoriale -&gt; Dla
            pracowników -&gt; Rezerwacje sal</a> lub <a href="http://sprawdz.plan.agh.edu.pl/staff_rez_alt.html"
                                                        target="_self">Tutoriale -&gt; Dla pracowników -&gt;
            Rezerwacje sal sposób alternatywny</a>.</p>

    <p id="cont" style="color: #5a5a5a">DLA STUDENTA:</p>

    <p id="cont">Aby sprawdzić plan zajęć, proszę
        kliknąć w zakładkę swójego wydziału i wybrać semestr. Następnie z
        dostępnych zakładek proszę wybrać właściwy stopień i rok studiów. Jeśli
        studiują Państwo na WEiP, WFiIS, WGGiIŚ lub WH po zalogowaniu w serwisie
        <a href="https://plan.agh.edu.pl/" target="_blank">https://plan.agh.edu.pl</a>
        i wybraniu opcji 'wyszukaj' znajdą Państwo swój indywidualny
        harmonogram. Identyfikator to nr albumu, a hasło można ustanowić /
        odzyskać na stronie <a href="https://ldap.agh.edu.pl/" target="_blank">https://ldap.agh.edu.pl/</a>.
        Żeby przenieść terminy zajęć do elektronicznych kalendarzy najlepiej
        posłużyć się iCalendar URL, wskazówki jak to zrobić, znajdują się w
        zakładce <a th:href="@{/public/ical}" href="http://sprawdz.plan.agh.edu.pl/ical.html" target="_self">Tutoriale -
            &gt; iCalendar</a>.
    </p>

    <p id="cont">Jeśli będą Państwo potrzebować
        pomocy w zapisach na przedmioty obieralne w UniTime albo w korygowaniu
        indywidualnego harmonogramu zajęć - proszę otworzyć zakładkę
        Tutoriale-&gt; Dla studentów i wybrać interesujące zagadnienie.</p>

</div>
