<div id="content">
    <p>
        <div id="plans">

    <p id="cont" style="color: #5a5a5a">
    iCalendar - przeniesienie harmonogramu zajęć do kalendarza elektronicznego</p>

    <p id="cont">Żeby przenieść terminy zajęć do elektronicznych kalendarzy najlepiej posłużyć się iCalendar URL (przesłany na Państwa maile plik .ics z indywidualnym harmonogramem nie będzie uwzględniał dodatkowych terminów zajęć, zaliczeń i egzaminów). Wskazówki dot. importu znajdują się w załączniku poniżej.</p>

    <p id="cont"><a href="toDownload/Export _iCalendar_URL.pdf" target="_blank" download="iCalendar.pdf" style="color: #0099ff; padding: 15px">Export iCalendar URL <i><small>pobierz plik</i></small></a>
    </p>


</div>

</p>
</div>