<div id="content">
    <p>
    </p><div id="plans">



    <p id="cont" style="color: #4E2F2F">Semestr letni 2018/2019</p>

    <p id="cont" style="color: #4E2F2F"><a style="color: #0099ff" href="https://plan.agh.edu.pl/UniTime/gwt.jsp?page=personal#date=&amp;tab=0&amp;term=Semestr+zimowy2019AGH" target="_blank">Plan zajęć pracowników AGH (kliknij aby otworzyć)</a>- nie wymaga logowania.</p>

    <p id="cont" style="color: #4E2F2F">Tutorial jak pobrać swój harmonogram oraz listy studentów znajdą Państwo <a style="color: #0099ff" href="http://sprawdz.plan.agh.edu.pl/staff_harm.html">tutaj</a>. Natomiast wskazówki jak przenieść harmonogram zajęć do kalendarza elektronicznego (iCalender) <a style="color: #0099ff" href="http://sprawdz.plan.agh.edu.pl/ical.html">tutaj</a>.</p>

    <p id="cont" style="color: #4E2F2F">Harmonogramy pracowników poszczególnych Wydziałów będą dostępne po opublikowaniu harmonogramu danego Wydziału.</p>
</div>

    <p></p>
</div>