<!DOCTYPE html>
<html lang="en">

<body>
<div id="content">
    <p>
        <div id="plans">


            <h3 style="color: #4E2F2F">Tutorial - jak sprawdzić harmonogram i listy studentów:</h3>

    <p></p>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4jLEGGtYX6Y" frameborder="0" allowfullscreen></iframe><
    </div>


    <p id="cont">Rezerwacje na dodatkowe terminy zajęć dostępne są pod adresem:<br>

        <a href="https://plan.agh.edu.pl"><i>https://plan.agh.edu.pl</i></a></p>

    <p id="cont">Prowadzący z wybranych Wydziałów mogą zarezerwować sale tylko po uwierzytelnieniu z wykorzystaniem centralnej Bazy Pracowników i Studentów AGH https://ldap.agh.edu.pl/. Hasło początkowe do Bazy Pracowników i Studentów jest takie jak hasło początkowe do Wirtualnej Uczelni. Przy pierwszym uwierzytelnieniu w LDAP wymagane jest ustawienie w bazie LDAP indywidualnego hasła o określonym stopniu złożoności (co najmniej 8 znaków, małe i wielkie litery oraz cyfry lub znaki specjalne). Po ustanowieniu hasło to będzie służyło do logowania w UniTime, a także do innych systemów informatycznych używanych w AGH (e-COP, OSA, CAS).</p>

    <p id="cont">W razie trudności w ustawieniu hasła prosimy się kontaktować z Uczelnianym Centrum Informatyki:
        <br>Tomasz Pałac, tel. 12 617-28-85, e-mail <a href="mailto:ldap@agh.edu.pl"><i>ldap@agh.edu.pl</i></a></p></p>
    </p>



</div>

</body>
</html>