
<div id="content">
    <p>
        <div id="plans">


            <h3 style="color: #4E2F2F">Tutorial - jak zapisać się na przedmioty obieralne w UniTime:</h3>

    <p></p>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/38ZyTeQOqpU" frameborder="0" allowfullscreen></iframe><
    </div>


    <p id="cont" style="color: #4E2F2F">Jeśli pojawią się problemy, prosimy o kontakt:</p>

    <p style="color: #660066; padding: 15px">POMOC IT<br>
        tel. +48 617 55 66<br>
        e-mail: <a  href="mailto:pomoc-it@agh.edu.pl"><i style="color: #0099ff">pomoc-it@agh.edu.pl</i></a></p>


</div>